.uoa-logo {
  width: 16vw;
  max-width: 68px;
  height: auto;
}

.uoa-header {
  .header-spaceholder {
    width: 10vw;
  }
  display: flex;
}

.large-font{
  font-size: 1.6em;
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}


